@import 'base.scss';

.the-category{ width: 100%; @extend %ovrd;
  .in{ width: $main-width; @extend %m0a; @extend %ovrd;
    .category-main{ width: 100%; height: 40px; padding: 20px 0; position: relative;
      .cate-box{ width: 1120px; height: 40px; margin: 0 20px; background-color: #fff0f3;
        border-radius: 40px; @extend %ovrd; position: relative;
        .cate-list{ width: auto; @include lineHig(40px); position: absolute; left: 0; top: 0;
          @include transition(left .3s);  z-index:2;
          .li{ width: 120px; text-align: center; border-radius: 20px; float: $fl; cursor: pointer; font-size: 14px; color: #333;
            .mol{  display: -webkit-box;  display: -ms-flexbox;  display: flex;  -webkit-box-align: center;
              -ms-flex-align: center;  align-items: center;  -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
              .i{ width:0; height:0; @include bgPara(); background-image: url("#{$imgUrl}/i-hghg-ico.png"); margin-right: 8px;}
              .t{ vertical-align: middle;  display: inline-block; }
            }
            &:hover{ color: #eb5041;}
            &.cur{ color:#fff; font-size: 15px; width: 160px;
              &:hover{ color: #fff;}
              .i{ width: 30px; height: 30px; }
            }
          }
        }
      }
      .more{ width: 50px; height: 40px; position: absolute; right: 0; top: 20px;
        .more-t{ font-size: 12px; color: #fff; cursor: pointer; float: $fr; margin-top: 13px; margin-right: 15px; }
        .small-box{ width: 400px; min-height: 50px; border-radius: 4px; background-color: #303133;
          position: absolute; top: 40px; right: -35px; z-index: 3;
          .small-list{  padding: 10px;
            .li{ color: #fff; font-size: 12px; display: inline-block; margin: 5px; cursor: pointer;
              &:hover{ color: #eb5041;}
            }
          }
          .i-sj{ width:0; height:0;  border-width:0 6px 6px;  border-style:solid;  border-color:transparent transparent #303133;
            position:absolute; right: 56px; top: -6px;
          }
        }
      }
      &:after{ @extend %pseudo; width: 160px; height: 50px;  color: #fff; @include box-shadow( 0 2px 5px 0 rgba(0,0,0,.2));
        background-color: #eb5041;  border-radius: 50px;  position: absolute;  left: calc(50% - 100px); top: 15px;  z-index: 1;
      }
    }
  }
}




